body {
  background-color: rgb(218, 209, 209);
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.main-body {
  max-height: 500px;
}
.logo {
  width: 150px;
}
.btn-signup {
  color: white !important;
}
.section2 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.img1 {
  min-height: 100vh;
  max-height: 100vh;
}
